.seat {
  float: left;
  width: 5%;
  aspect-ratio: 1 / 1;
  background-color: blue;
  font-size: 1vw;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.occupied{
  background-color: red;
}

.available{
  background-color:green;
}

.row{
  display:flex;
  justify-content:center;
}

.booked{
  background-color: blue;
}
